################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/CapitalGain.Application/bin/Debug/net5.0
/CapitalGain.Application/obj
/CapitalGain.Console/obj
/CapitalGain.Domain/obj
/CapitalGain.UnitTest/bin
/CapitalGain.UnitTest/obj
/.vs
/CapitalGain.ConsoleApp/obj/Debug/net5.0
*.dll
*.pdb
/CapitalGain.ConsoleApp/bin/Debug/net5.0
/CapitalGain.ConsoleApp/obj/Container
/bin/Debug
/CapitalGain.ConsoleApp/obj/Docker
/obj
